body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 16px;
	background-color: #000000;
  color: #5eff79;
  background-image: url('https://www.redelin-soft.de/img/back.jpg');
  background-repeat: repeat-y;
  background-size: auto;
}

.round-corners {
	border-radius: 5px 5px 5px 5px;
}

.shaddow {
	-webkit-box-shadow: 6px 6px 6px -3px rgb(211, 7, 7, 1);
	-moz-box-shadow:    6px 6px 6px -3px rgba(211, 7, 7, 1);
	box-shadow:         6px 6px 6px -3px rgba(211, 7, 7, 1);
}

#disable {
  display: none;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgba(199, 197, 197, 0.6);
}

#success {
  display: none;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: rgba(3, 3, 3, 0.8);
}

#party {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
}

#sitewrapper {
  height: 100%;
}

#content {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: 100%;
  max-width: 400px;
}
  
#box {
  border: 2px solid #da0000;
  padding: 15px;
  background-color: rgba(211, 7, 7, 0.7);
  overflow: auto;
}

#heading {
  width: 100%;
  font-size: 1.5em;
  font-weight: bolder;
  padding-bottom: 10px;
  text-align: center;
}

#teamname-display {
  float: left;
  width: calc(100% - 16px);
  width: -moz-calc(100% - 16px);
  width: -webkit-calc(100% - 16px);
  margin: 5px 3px 5px 3px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(167, 167, 167);
  border-radius: 2px 2px 2px 2px;
  font-weight: bolder;
  font-size: 1.5em;
  text-align: center;
}

.displayNumber {
  float: left;
  margin: 5px 3px 5px 3px;
  padding: 5px 5px 5px 5px;
  background-color: rgb(167, 167, 167);
  border-radius: 2px 2px 2px 2px;
  font-weight: bolder;
  cursor: -webkit-grab;
  text-align: center;
}

#errormessage {
  display: none;
  float: left;
  width: calc(100% - 16px);
  width: -moz-calc(100% - 16px);
  width: -webkit-calc(100% - 16px);
  border-radius: 2px 2px 2px 2px;
  margin: 5px;
  padding: 3px;
  color: rgb(196, 2, 2);
  background-color: rgb(199, 238, 198, 0.8);
  font-size: 0.7em;
}

form {
  display: none;
}