body {
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 16px;
	background-color: #000000;
  color: #5eff79;
  background-image: url('https://www.redelin-soft.de/img/back.jpg');
  background-repeat: repeat-y;
  background-size: auto;
}

.round-corners {
	border-radius: 5px 5px 5px 5px;
}

.shaddow {
	-webkit-box-shadow: 6px 6px 6px -3px rgb(211, 7, 7, 1);
	-moz-box-shadow:    6px 6px 6px -3px rgba(211, 7, 7, 1);
	box-shadow:         6px 6px 6px -3px rgba(211, 7, 7, 1);
}

#sitewrapper {
  height: 100%;
}

#content {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
  width: 100%;
  max-width: 800px;
}
  
#box {
  border: 2px solid #da0000;
  padding: 15px;
  background-color: rgba(211, 7, 7, 0.7);
  overflow: auto;
}

#heading {
  width: 100%;
  font-size: 1.5em;
  font-weight: bolder;
  padding-bottom: 10px;
  text-align: center;
}

table th {
  border: 1px solid #5eff79;
  background-color: #464545;
  font-weight: bold;
  text-align: center;
  padding: 2px 4px 2px 4px;
}
table td {
  border: 1px solid #5eff79;
  text-align: center;
  padding: 2px 4px 2px 4px;
}